<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./css/main.css')}}">
</head>

<body onload="getTime()">
    <!-- jinja2 -->
    <h1>Hello, {{user_name}}</h1>
    <p id="date">
        {{date}}
    </p>
    <ul>
        <li>
            <a href="/stock" target="_blank">亞股資訊</a>
        </li>
        <li>
            <a href="/pm25" target="_blank">PM2.5全台資訊</a>
        </li>
    </ul>
    <script src="{{url_for('static',filename='./js/main.js')}}"></script>
</body>

</html>